<div ng-controller="HeaderController as vm">
  <!-- Basic Application Footer -->
  <footer class="application-footer container-full">
    <div class="container-mid-range --no-container-padding --center-container --grey-border-top">
      <div class="column-container">
        <div class="item default-6 desktop-16">
          <div class="address-group column-container fixed-grid">
            <div class="item">
              <img src="../assets/images/svgs/dist/enphjase-e-icon-logo-orange.svg" alt="Enphase Energy" />
            </div>
            <div class="item">
              <p>Enphase Energy, Inc. &copy;
                <br />1420 N. McDowell Blvd, Petaluma, CA 94954</p>
            </div>
          </div>
        </div>
        <div class="item desktop-16 anchord-right">
          <ul class="footer-nav">
            <li>
              <a href="/">Upgrade Website<a/></a>
            </li>
            <li>
              <a href="/">Contact Support<a/></a>
            </li>
            <li>
              <a href="/">Program Terms &amp; Conditions<a/></a>
            </li>
            <li>
              <a href="/">enphase.com<a/></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <footer>
      <!-- /end Basic Application Footer -->
</div>
