<div ng-controller="HeaderController as vm">
  <!-- Basic Application Header -->
  <header class="application-header">
    <h1>
      <a href="/">
        <img src="/assets/images/svgs/dist/enphase-logo.svg" alt="Enphase Energy" />
      </a>
    </h1>
    <aside class="application-sub-header column-container collapse">
      <div class="item" ng-hide="authentication.user">
        <a class="option-link --back" href="/">Program Overview</a>
      </div>
      <div class="item anchord-right" ng-hide="authentication.user">
        <a class="option-link --foward" ng-click="onNeedHelpClicked()">Need Help?</a>
      </div>
      <div class="item anchord-right" ng-show="authentication.user">
        
      
      <div class="sub-navigation">
        <ul class="navigation__list">
          <li class="dropdown-item active-item">
            <div class="dropdown-wrapper">
              <!-- <button type="button" class="dropdown-toggle"><span class="toggle-label">Toggle dropdowns on mobile</span></button> -->
              <a class="option-link">Welcome, {{authentication.user.displayName}}</a>
              <div class="dropdown-dialog --scale-open">
                <div class="dropdown-container dropdown-navigation">
                  <ul class="dropdown-navigation__list">
                    <li class="dropdown-navigation__item">
                      <a href="#" ng-click="logout()" class="first leaf">Logout</a>
                    </li>                    
                  </ul>
                </div>
              </div>
            </div>
          </li>        
        </ul>
      </div>
      </div>
    </aside>
  </header>
  <!-- /end Basic Application Header -->
  <!-- program-banner -->
  <div class="program-banner content-section --section-padding-4 --orange-background-2" ng-if="!authentication.user">
    <img class="asset-size --medium --center-item" src="../assets/lpup-content/early-adopters-upgrade-program-logo-white.svg" alt="Enphase Energy" />
    <div class="col-4 --center-container">
      <h4>Enphase Upgrade Program for Early Adopters</h4>
      <h6>Vulputate Mollis Egestas Inceptos Porta.</h6>
    </div>
  </div>
  <!-- /end program-banner -->
</div>
