<div ng-controller="HeaderController as vm">
  <!-- Basic Application Header -->
  <header class="application-header">
    <h1>
      <a href="/">
        <img src="../assets/images/svgs/dist/enphase-logo.svg" alt="Enphase Energy" />
      </a>
    </h1>
    <aside class="application-sub-header column-container collapse">
      <div class="item">
        <a class="option-link --back" href="/">Program Overview</a>
      </div>
      <div class="item anchord-right">
        <a class="option-link --foward" ng-click="onNeedHelpClicked()">Need Help?</a>
      </div>
    </aside>
  </header>
  <!-- /end Basic Application Header -->
  <!-- program-banner -->
  <div class="program-banner content-section --section-padding-4 --orange-background-2">
    <img class="asset-size --medium --center-item" src="../assets/lpup-content/early-adopters-upgrade-program-logo-white.svg" alt="Enphase Energy" />
    <div class="col-4 --center-container">
      <h4>Enphase Upgrade Program for Early Adopters</h4>
      <h6>Vulputate Mollis Egestas Inceptos Porta.</h6>
    </div>
  </div>
  <!-- /end program-banner -->
</div>
