<!-- MAIN CONTENT AREA -->
<div class="primary-content">
  <!-- content-section -->
  <div class="content-section --section-padding-4">
    <!-- CONTENT block - Order-status intro -->
    <section class="help-content upgrade-content-block">
      <div class="col-6 --center-container">
        <h4><i class="icon-support-faq --large"></i> Need help</h4>
        <p>You can reach out to your installer or an Enphase team member to get answers to your questions about the Enphase Upgrade Program.</p>
      </div>
      <!-- Interaction CARD -->
      <div class="col-9 --center-container">
        <div class="content-card">
          <h5 class="accent-hedding">Contact your installer</h5>
          <p class="col-5">For questions about your system, equipment, or installation, reach out to your local installer. The installer we have on record for you is:</p>
          <div class="item-container">
            <p><strong>Installer Namee</strong></p>
            <p>Phone: 1 (800) XXX-XXXX</p>
            <p>Email: installer@solar.net</p>
            <p>1600 Pennsylvania Ave NW</p>
            <p>Washington, DC 20500</p>
          </div>
          <hr class="spacer --size-5" />
          <h5 class="accent-hedding">Contact an Enphase team member</h5>
          <p class="col-5">For other questions about the program, or if you have trouble reaching your installer, please contact our Upgrade Program support team:</p>
          <div class="item-container">
            <p><strong>Upgrade Program Support</strong></p>
            <p>Phone: 1 (800) XXX-XXXX</p>
            <p>Email: upgrade@enphase.com</p>
          </div>
        </div>
      </div>
      <!-- /end Interaction CARD -->
      <!-- FAQ List -->
      <div id="order-faq" class="faq-details-container col-9 --center-container">
        <h5 class="accent-hedding --centerd">Program FAQ</h5>
        <!-- FAQ item -->
        <div id="order-faq-1" class="upgrade-faq-item column-container">
          <div class="faq-media item default-3 tablet-16">
            <span class="step-icon --large --center-icon"><i class="icon-support-faq-option"></i></span>
          </div>
          <div class="faq-information item default-10 tablet-16">
            <h5>Question...</h5>
            <p class="info">Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras mattis consectetur purus sit amet fermentum.</p>
          </div>
        </div>
        <!-- /end FAQ item -->
        <!-- FAQ item -->
        <div id="order-faq-2" class="upgrade-faq-item column-container">
          <div class="faq-media item default-3 tablet-16">
            <span class="step-icon --large --center-icon"><i class="icon-support-faq-option"></i></span>
          </div>
          <div class="faq-information item default-10 tablet-16">
            <h5>Question...</h5>
            <p class="info">Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras mattis consectetur purus sit amet fermentum.</p>
          </div>
        </div>
        <!-- /end ProFAQduct item -->
        <!-- FAQ item -->
        <div id="order-faq-3" class="upgrade-faq-item column-container">
          <div class="faq-media item default-3 tablet-16">
            <span class="step-icon --large --center-icon"><i class="icon-support-faq-option"></i></span>
          </div>
          <div class="faq-information item default-10 tablet-16">
            <h5>Question...</h5>
            <p class="info">Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras mattis consectetur purus sit amet fermentum.</p>
          </div>
        </div>
        <!-- /end FAQ item -->
        <!-- FAQ item -->
        <div id="order-faq-4" class="upgrade-faq-item column-container">
          <div class="faq-media item default-3 tablet-16">
            <span class="step-icon --large --center-icon"><i class="icon-support-faq-option"></i></span>
          </div>
          <div class="faq-information item default-10 tablet-16">
            <h5>Question...</h5>
            <p class="info">Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras mattis consectetur purus sit amet fermentum.</p>
          </div>
        </div>
        <!-- /end FAQ item -->
      </div>
      <!-- /end FAQ List -->
    </section>
    <!-- /end CONTENT block - Order-status intro -->
  </div>
  <!-- /end content-section -->
</div>
<!-- /end MAIN CONTENT AREA -->
