<!-- MAIN CONTENT AREA -->
<div class="primary-content">
  <!-- content-section -->
  <div class="content-section --section-padding-4">
    <!-- CONTENT block - order-review intro -->
    <section class="upgrade-order-review upgrade-content-block">
      <div class="col-6 --center-container">
        <h4><i class="icon-category-microinverter --large"></i> Review your upgrade details</h4>
        <p>Cras mattis consectetur purus sit amet fermentum. Donec ullamcorper nulla non metus auctor fringilla.</p>
      </div>
      <!-- Interaction CARD -->
      <div class="col-9 --center-container">
        <div class="content-card">
          <h5 class="accent-hedding">Address that is being upgraded</h5>
          <div class="item-container">
            <p><strong ng-if="model.customer.first_name != NULL">{{model.customer.first_name}}</strong><strong ng-if="model.customer.first_name != NULL && model.customer.last_name != NULL">, </strong><strong ng-if="model.customer.last_name != NULL">{{model.customer.last_name}}</strong></p>
            <p>{{model.customer.address1}}</p>
            <p>{{model.customer.address2}}</p>
            <p>{{model.customer.city}}, {{model.customer.state}}, {{model.customer.country}} {{model.customer.zip}}</p>
          </div>
          <h5 class="accent-hedding">Number of panels</h5>
          <div class="item-container">
            <p><strong>{{model.customer.pcu_channel_count}}</strong> panels to upgrade</p>
          </div>
          <hr class="spacer --size-6" />
          <h5 class="accent-hedding">Your order</h5>
          <div class="item-container">
            <div class="overflow-container">
              <!-- allows for scrolling of tables on mobile devices -->
              <table class="no-stripeing top-borders">
                <thead>
                  <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><a href="#product-list">{{ui.product.name}}</a></td>
                    <td>${{ui.product.price}}</td>
                    <td>{{model.customer.pcu_channel_count}}</td>
                    <td>${{orderAmountdetails.totalProductPrice}}</td>
                  </tr>
                  <tr>
                    <td>Tax</td>
                    <td>&mdash;</td>
                    <td>&mdash;</td>
                    <td>${{orderAmountdetails.totalTax}}</td>
                  </tr>
                  <tr>
                    <td>Shipping</td>
                    <td>&mdash;</td>
                    <td>&mdash;</td>
                    <td>${{orderAmountdetails.totalShippingCharge}}</td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="3" class="align-right">Total:</td>
                    <td colspan="1" class="align-left">${{orderAmountdetails.totalAmountToPay}}</td>
                  </tr>
                </tfoot>
              </table>
            </div>
            <p class="col-5"><small>* Simple disclaimer statement: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</small></p>
          </div>
          <form>
            <div class="column-container collapse submit-container">
              <div class="form-item item default-8 tablet-small-16">
                <button class="primary-button help-link --inverse --light-gray" name="submit" type="button">
                  Need Help?
                </button>
              </div>
              <div class="form-item item default-8 tablet-small-16 anchord-right align-right">
                <button class="primary-button --arrow-link" name="submit" type="button" ng-click="onPaymentOptionsClicked()">
                  Next Payment Options
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- /end Interaction CARD -->
      <div class="col-6 --center-container">
        <p>If this information is not correct please contact our Upgrade Program support team via our <a href="/">Upgrade Program Support</a> page.</p>
      </div>
      <!-- FAQ List -->
      <div id="product-list" class="faq-details-container col-9 --center-container">
        <h5 class="accent-hedding --centerd">Products detail</h5>
        <!-- FAQ item -->
        <div id="product-anchor-link-1" class="upgrade-faq-item column-container">
          <div class="faq-media item default-3 tablet-16">
            <img class="asset-size --large --center-item" src="../assets/lpup-content/fpo-icon-gray.svg" alt="alt text here" />
          </div>
          <div class="faq-information item default-10 tablet-16">
            <h5>Product Name</h5>
            <p class="info">Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras mattis consectetur purus sit amet fermentum.</p>
            <p class="price"><strong>Quantity: XX</strong></p>
          </div>
        </div>
        <!-- /end FAQ item -->
        <!-- FAQ item -->
        <div id="product-anchor-link-2" class="upgrade-faq-item column-container">
          <div class="faq-media item default-3 tablet-16">
            <img class="asset-size --large --center-item" src="../assets/lpup-content/fpo-icon-gray.svg" alt="alt text here" />
          </div>
          <div class="faq-information item default-10 tablet-16">
            <h5>Product Name</h5>
            <p class="info">Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras mattis consectetur purus sit amet fermentum.</p>
            <p class="price"><strong>Quantity: XX</strong></p>
          </div>
        </div>
        <!-- /end ProFAQduct item -->
        <!-- FAQ item -->
        <div id="product-anchor-link-3" class="upgrade-faq-item column-container">
          <div class="faq-media item default-3 tablet-16">
            <img class="asset-size --large --center-item" src="../assets/lpup-content/fpo-icon-gray.svg" alt="alt text here" />
          </div>
          <div class="faq-information item default-10 tablet-16">
            <h5>Product Name</h5>
            <p class="info">Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras mattis consectetur purus sit amet fermentum.</p>
            <p class="price"><strong>Quantity: XX</strong></p>
          </div>
        </div>
        <!-- /end FAQ item -->
      </div>
      <!-- /end FAQ List -->
    </section>
    <!-- /end CONTENT block -  order-review intro -->
  </div>
  <!-- /end content-section -->
</div>
<!-- /end MAIN CONTENT AREA -->
