<!-- MAIN CONTENT AREA -->
<div class="primary-content">
  <!-- content-section -->
  <div class="content-section --section-padding-4">
    <!-- CONTENT block - Order-status intro -->
    <section class="order-status upgrade-content-block">
      <div class="col-6 --center-container">
        <h4><i class="icon-home --large"></i> Status &amp; order information</h4>
        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Donec id elit non mi porta gravida at eget metus. Cum sociis natoque penatibus et magnis dis parturient montes, <a href="#order-faq">more on this</a>.</p>
      </div>
      <!-- Status Section -->
      <div class="col-9 --center-container">
        <div class="upgrade-status-container">
          <hr class="spacer --size-7" />
          <h5 class="accent-hedding --centerd">Order status</h5>
          <ul class="upgrade-status-tracking column-container collapse">
            <li class="item default-4  tablet-small-16" ng-class="{'active': 0 <= orderDetails.orderStatus, 'inactive': ! 0 <= orderDetails.orderStatus}">
              <span class="step-icon --center-icon --small"><i class="icon-check"></i></span>
              <span class="label">{{getOrderStatus(0)}}</span>
            </li>
            <li class="item default-4  tablet-small-16" ng-class="{'active': 1 <= orderDetails.orderStatus, 'inactive': ! 1 <= orderDetails.orderStatus}">
              <span class="step-icon --center-icon --small"><i class="icon-check"></i></span>
              <span class="label">{{getOrderStatus(1)}}</span>
            </li>
            <li class="item default-4  tablet-small-16" ng-class="{'active': 2 <= orderDetails.orderStatus, 'inactive': ! 2 <= orderDetails.orderStatus}">
              <span class="step-icon --center-icon --small"><i class="icon-check"></i></span>
              <span class="label">{{getOrderStatus(2)}}</span>
            </li>
            <li class="item default-4  tablet-small-16" ng-class="{'active': 3 <= orderDetails.orderStatus, 'inactive': ! 3 <= orderDetails.orderStatus}">
              <span class="step-icon --center-icon --small"><i class="icon-check"></i></span>
              <span class="label">{{getOrderStatus(3)}}</span>
            </li>
          </ul>
        </div>
      </div>
      <!-- /end Status Section -->
      <!-- Interaction CARD -->
      <div class="col-9 --center-container">
        <div class="content-card">
          <h5 class="accent-hedding">Address of upgraded</h5>
          <div class="item-container">
            <p><strong ng-if="model.customer.first_name != NULL">{{model.customer.first_name}}</strong><strong ng-if="model.customer.last_name != NULL"> {{model.customer.last_name}}</strong></p>
            <p ng-hide="model.customer.address1 === 'NULL'">{{model.customer.address1}}</p>
            <p ng-hide="model.customer.address2 === 'NULL'">{{model.customer.address2}}</p>
            <p>{{model.customer.city}}, {{model.customer.state}}, {{model.customer.country}} {{model.customer.zip}}</p>
          </div>
          <h5 class="accent-hedding">Number of panels</h5>
          <div class="item-container">
            <p><strong>{{orderDetails.noOfInverters}}</strong> panels to upgrade</p>
          </div>
          <hr class="spacer --size-6" />
          <h5 class="accent-hedding">Order details</h5>
          <div class="item-container">
            <div class="overflow-container">
              <!-- allows for scrolling of tables on mobile devices -->
              <table class="no-stripeing top-borders">
                <thead>
                  <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{ui.product.name}}</td>
                    <td>${{ui.product.price}}</td>
                    <td>{{orderDetails.noOfInverters}}</td>
                    <td>${{orderAmountdetails.totalProductPrice}}</td>
                  </tr>
                  <tr>
                    <td>Tax</td>
                    <td>&mdash;</td>
                    <td>&mdash;</td>
                    <td>${{orderAmountdetails.totalTax}}</td>
                  </tr>
                  <tr>
                    <td>Shipping</td>
                    <td>&mdash;</td>
                    <td>&mdash;</td>
                    <td>${{orderAmountdetails.totalShippingCharge}}</td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="3" class="align-right">Total:</td>
                    <td colspan="1" class="align-left">${{orderAmountdetails.totalAmountToPay}}</td>
                  </tr>
                </tfoot>
              </table>
            </div>
            <p class="col-5"><small>* Simple disclaimer statement: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</small></p>
          </div>
        </div>
      </div>
      <!-- /end Interaction CARD -->
      <div class="col-6 --center-container">
        <p>If this information is not correct please contact our Upgrade Program support team via our <a href="/">Upgrade Program Support</a> page.</p>
      </div>
      <!-- FAQ List -->
      <div id="order-faq" class="faq-details-container col-9 --center-container">
        <h5 class="accent-hedding --centerd">Order process &amp; what to expect</h5>
        <!-- FAQ item -->
        <div id="order-faq-1" class="upgrade-faq-item column-container">
          <div class="faq-media item default-3 tablet-16">
            <span class="step-icon --large --center-icon">1</span>
          </div>
          <div class="faq-information item default-10 tablet-16">
            <h5>Step one</h5>
            <p class="info">Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras mattis consectetur purus sit amet fermentum.</p>
          </div>
        </div>
        <!-- /end FAQ item -->
        <!-- FAQ item -->
        <div id="order-faq-2" class="upgrade-faq-item column-container">
          <div class="faq-media item default-3 tablet-16">
            <span class="step-icon --large --center-icon">2</span>
          </div>
          <div class="faq-information item default-10 tablet-16">
            <h5>Step two</h5>
            <p class="info">Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras mattis consectetur purus sit amet fermentum.</p>
          </div>
        </div>
        <!-- /end ProFAQduct item -->
        <!-- FAQ item -->
        <div id="order-faq-3" class="upgrade-faq-item column-container">
          <div class="faq-media item default-3 tablet-16">
            <span class="step-icon --large --center-icon">3</span>
          </div>
          <div class="faq-information item default-10 tablet-16">
            <h5>Step three</h5>
            <p class="info">Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras mattis consectetur purus sit amet fermentum.</p>
          </div>
        </div>
        <!-- /end FAQ item -->
        <!-- FAQ item -->
        <div id="order-faq-4" class="upgrade-faq-item column-container">
          <div class="faq-media item default-3 tablet-16">
            <span class="step-icon --large --center-icon"><i class="icon-check"></i></span>
          </div>
          <div class="faq-information item default-10 tablet-16">
            <h5>Done</h5>
            <p class="info">Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras mattis consectetur purus sit amet fermentum.</p>
          </div>
        </div>
        <!-- /end FAQ item -->
      </div>
      <!-- /end FAQ List -->
    </section>
    <!-- /end CONTENT block - Order-status intro -->
  </div>
  <!-- /end content-section -->
</div>
<!-- /end MAIN CONTENT AREA -->
