/* LPUP application Partial - CONTENT SECTION */

.upgrade-content-block {

    a:not([class]) {
    	color: map-get($colors, orange);

    	&:hover { color: map-get($colors, orange-darker); }

    	}

    .accent-hedding {
        margin-bottom: rem(30px);

        &.\--centerd {
            text-align: center;

            &:before {
                left: 50%;
                bottom: rem(-2px);
                @include translateX-Y(-50%, 0);
                }

            }

        }

    .item-container {
        margin: $section-padding-1 $section-padding-2 $section-padding-4;

        .\--no-bottom-margin { margin-bottom: 0; }

        p  { margin: 0; }

        }

    .content-card {
        @include depth;
        @include border-radius(3px);
        padding: $section-padding-4 $section-padding-3;
        margin: $section-padding-4 0;
        background-color: $white;
        border: rem(1px) solid map-get($colors, border-grey-2);

        p:last-child { margin-bottom: 0; }

        ol:last-child, ul:last-child { margin-bottom: 0; }

        }

    &.upgrade-oreder-review {

        tfoot td {
            font-weight: $bold;
            padding: rem(30px) rem(10px);
            text-align: right;

            &:last-child { text-align: left; }

            }

        }

    .submit-container {
        padding: 0 rem(20px);
        }

    }
