<!-- MAIN CONTENT AREA -->
<div class="primary-content">
  <!-- content-section -->
  <div class="content-section --section-padding-4">
    <!-- CONTENT block - Validation intro -->
    <section class="validation-intro upgrade-content-block">
      <div class="col-6 --center-container">
        <h4><i class="icon-home --large"></i> Confirm your system information</h4>
        <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla vitae elit libero, a pharetra augue.</p>
      </div>
      <!-- Interaction CARD -->
      <div class="col-9 --center-container">
        <div class="content-card">
          <h5 class="accent-hedding">Address that is being upgraded</h5>
          <div class="item-container">
            <p><strong>First Name, Last Name</strong></p>
            <p>1600 Pennsylvania Ave NW</p>
            <p>Washington, DC 20500</p>
          </div>
          <h5 class="accent-hedding">Number of panels</h5>
          <div class="item-container">
            <p><strong>24</strong> panels to upgrade</p>
            <p class="col-5"><small>* Simple disclaimer statement: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</small></p>
          </div>
          <hr class="spacer --size-6" />
          <form>
            <div class="column-container collapse submit-container">
              <div class="form-item item default-8 tablet-small-16">
                <button class="primary-button help-link --inverse --light-gray" name="submit" type="button">
                  Incorrect
                </button>
              </div>
              <div class="form-item item default-8 tablet-small-16 anchord-right align-right">
                <button class="primary-button --arrow-link" name="submit" type="button">
                  This is Correct
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- /end Interaction CARD -->
      <div class="col-6 --center-container">
        <p>If this address is not correct, please contact our support team via our <a href="/">Upgrade Program Support</a> page.</p>
      </div>
    </section>
    <!-- /end CONTENT block - Validation intro -->
  </div>
  <!-- /end content-section -->
</div>
<!-- /end MAIN CONTENT AREA -->
