<!-- MAIN CONTENT AREA -->
<div class="primary-content">








    <!-- content-section -->
    <div class="content-section --section-padding-4">








        <!-- CONTENT block - Validation intro -->
        <section class="payment-options upgrade-content-block">

            <div class="col-6 --center-container">
                <h4><i class="icon-credit-card --large"></i> Payment</h4>
                <p>Please provide your payment information. Upon submitting your card will be charged for the full amount, <a href="#payment-faq">more on this</a>.</p>
            </div>




            <!-- Interaction CARD -->
            <div class="col-9 --center-container">
                <div class="content-card address-card">
                    <form>
                        <h5 class="accent-hedding">Payment information</h5>

                        <div class="column-container fixed-margins">
                            <div class="form-item item default-8 tablet-16">
                                <label>Name on card <sup>*</sup></label>
                                <input type="text" value="name" required />
                            </div>


                            <div class="form-item item default-8 tablet-16">
                                <label>Email </label>
                                <input type="email" value="email" />
                            </div>


                            <div class="form-item item default-16">
                                <label>Card number <sup>*</sup></label>
                                <input type="number" value="card-number" required />
                            </div>


                            <div class="form-item item default-12 tablet-16">
                                <label>Expiration Date <sup>*</sup></label>
                                <div class="column-container fixed-margins">
                                    <div class="form-item item  default-8">
                                        <label class="sr-only" for="card-year">Month </label>
                                        <select id="card-month" name="month">
                                            <option value="" selected="selected">Month</option>
                                            <option value="1">01 - January</option>
                                            <option value="2">02 - February</option>
                                            <option value="3">03 - March</option>
                                            <option value="4">04 - April</option>
                                            <option value="5">05 - May</option>
                                            <option value="6">06 - June</option>
                                            <option value="7">07 - July</option>
                                            <option value="8">08 - August</option>
                                            <option value="9">09 - September</option>
                                            <option value="10">10 - October</option>
                                            <option value="11">11 - November</option>
                                            <option value="12">12 - December</option>
                                        </select>
                                    </div>

                                    <div class="form-item item default-8">
                                        <label class="sr-only" for="card-year">Year </label>
                                        <select id="card-year" name="year">
                                            <option value="" selected="selected">Year</option>
                                            <option value="1">2018</option>
                                            <option value="2">2019</option>
                                            <option value="3">2020</option>
                                            <option value="4">2021</option>
                                            <option value="5">2022</option>
                                            <option value="6">2023</option>
                                            <option value="7">2024</option>
                                            <option value="8">2025</option>
                                            <option value="9">2026</option>
                                            <option value="10">2027</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-item item default-4 tablet-16">
                                <label>Security code <sup>*</sup></label>
                                <input type="number" value="security-code" required />
                            </div>
                        </div>

                        <div class="column-container collapse submit-container">
                            <div class="form-item item default-8 tablet-small-16">
                                <button class="primary-button --inverse --light-gray" name="submit" type="button">
                                    Need Help?
                                </button>
                            </div>

                            <div class="form-item item default-8 tablet-small-16 anchord-right align-right">
                                <button class="primary-button --has-icon" name="submit" type="button">
                                    <i class="icon-lock"></i> Place Order
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /end Interaction CARD -->







            <div class="col-6 --center-container">
                <p>If this information is not correct please contact our Upgrade Program support team via our <a href="/">Uppgrade Program Support</a> page.</p>
            </div>










            <!-- FAQ List -->
            <div id="payment-faq" class="faq-details-container col-10 --center-container">

                <h5 class="accent-hedding --centerd">Order process &amp; what to expect</h5>

                <!-- FAQ item -->
                <div id="product-anchor-link-1" class="upgrade-faq-item column-container">
                    <div class="faq-media item default-4">
                        <span class="step-icon --large --center-icon">1</span>
                    </div>

                    <div class="faq-information item default-10">
                        <h5>Step one</h5>
                        <p class="info">Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras mattis consectetur purus sit amet fermentum.</p>
                    </div>
                </div>
                <!-- /end FAQ item -->


                <!-- FAQ item -->
                <div id="product-anchor-link-2" class="upgrade-faq-item column-container">
                    <div class="faq-media item default-4">
                        <span class="step-icon --large --center-icon">2</span>
                    </div>

                    <div class="faq-information item default-10">
                        <h5>Step two</h5>
                        <p class="info">Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras mattis consectetur purus sit amet fermentum.</p>
                    </div>
                </div>
                <!-- /end ProFAQduct item -->


                <!-- FAQ item -->
                <div id="product-anchor-link-3" class="upgrade-faq-item column-container">
                    <div class="faq-media item default-4">
                        <span class="step-icon --large --center-icon">3</span>
                    </div>

                    <div class="faq-information item default-10">
                        <h5>Step three</h5>
                        <p class="info">Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras mattis consectetur purus sit amet fermentum.</p>
                    </div>
                </div>
                <!-- /end FAQ item -->

            </div>
            <!-- /end FAQ List -->
















        </section>
        <!-- /end CONTENT block - Validation intro -->













    </div>
    <!-- /end content-section -->





</div>
<!-- /end MAIN CONTENT AREA -->