<!-- MAIN CONTENT AREA -->
<div class="primary-content">
    <!-- content-section -->
    <div class="content-section --section-padding-4">


        <!-- CONTENT block - Validation intro -->
        <section class="validation-intro upgrade-content-block">


            <div class="col-6 --center-container">
                <h4>Welcome</h4>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            </div>


            <!-- Interaction CARD -->
            <div class="container-medium --center-container">
                <div class="content-card">
                    <h5 class="accent-hedding">System verification</h5>
                    <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras mattis consectetur purus sit amet fermentum.</p>

                    <form>
                        <div class="column-container collapse">
                            <div class="form-item item default-8 tablet-16">
                                <label class="sr-only">Email </label>
                                <input class="--no-radius-right" type="text" placeholder="Postal code" />
                            </div>

                            <div class="form-item item default-8 tablet-16">
                                <button class="secondary-button --all-orange --no-radius-left" name="submit" type="button">
                                    Look up my system
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /end Interaction CARD -->


            <div class="col-6 --center-container">
                <p>If you have any questions regarding your upgrade status or program details, you can find help at our <a href="/">Upgrade Program Support</a> page.</p>
            </div>


        </section>
        <!-- /end CONTENT block - Validation intro -->

    </div>
    <!-- /end content-section -->

</div>
<!-- /end MAIN CONTENT AREA -->


