<!-- MAIN CONTENT AREA -->
<div class="primary-content">
  <!-- content-section -->
  <div class="content-section --section-padding-4">
    <!-- CONTENT block - order-review intro -->
    <section class="upgrade-order-review upgrade-content-block">      
      <!-- Interaction CARD -->
      <div class="col-6 --center-container">
        <div class="content-card">
          <div class="item-container"> 
          <h5 class="accent-hedding"><i class="icon-lock"></i> &nbsp; Login</h5>         
          <div class="form-item item default-6 tablet-small-16">
            <button class="primary-button" name="submit" type="button" >
              <i class="icon-square-mail"></i> 
            </button>
          </div>          
        </div>
      </div>
    </section>
  </div>
</div>