<!-- MAIN CONTENT AREA -->
<div class="primary-content">
  <!-- content-section -->
  <div class="content-section --section-padding-4">
    <!-- CONTENT block - order-review intro -->
    <section class="upgrade-order-review upgrade-content-block">
      <!-- Interaction CARD -->
      <div class="col-12 --center-container">
        <div class="content-card">
          <h5 class="accent-hedding">Order</h5>
          <div class="column-container">
            <div class="form-item item default-3 tablet-16">
              <label>Customer ID: </label>
            </div>
            <div class="form-item item default-5 tablet-16">
              <b>45001 </b>
            </div>
            <div class="form-item item default-3 tablet-16">
              <label>Site ID: </label>
            </div>
            <div class="form-item item default-5 tablet-16">
              <b>356 </b>
            </div>
          </div>
          <div class="column-container">
            <div class="form-item item default-3 tablet-16">
              <label>Customer Name: </label>
            </div>
            <div class="form-item item default-5 tablet-16">
              <b>John Doe </b>
            </div>
            <div class="form-item item default-3 tablet-16">
              <label>Site Address: </label>
            </div>
            <div class="form-item item default-5 tablet-16">
              <b>626 1st Ave New York </b>
            </div>
          </div>
          <div class="column-container">
            <div class="form-item item default-3 tablet-16">
              <label>Customer Contacts: </label>
            </div>
            <div class="form-item item default-5 tablet-16">
              <b>john@gmail.com </b>
            </div>
            <div class="form-item item default-3 tablet-16">
              <label>Payment Amount: </label>
            </div>
            <div class="form-item item default-5 tablet-16">
              <b>$459 </b>
            </div>
          </div>
          <div class="column-container">
            <div class="form-item item default-3 tablet-16">
              <label>No of Inverters: </label>
            </div>
            <div class="form-item item default-5 tablet-16">
              <input type="number" placeholder="No of Inverters " />
            </div>
            <div class="form-item item default-3 tablet-16">
              <label>Payment Ref: </label>
            </div>
            <div class="form-item item default-2 tablet-16">
              <b>Pending </b>
            </div>
            <div class="form-item item default-3 tablet-16">
              <button class="primary-button --has-icon" name="submit" type="button">
                Proceed
              </button>
            </div>
          </div>
        </div>
        <div class="content-card">
          <h5 class="accent-hedding">Order Attributes</h5>
          <div class="column-container">
            <div class="form-item item default-3 tablet-16">
              <label>Installer Name: </label>
            </div>
            <div class="form-item item default-5 tablet-16">
              <select id="card-year" name="year">
                <option value="" selected="selected">Installer Name</option>
                <option value="Solar Inc">Solar Inc</option>
                <option value="Franklin Solar Inc">Franklin Solar Inc</option>
              </select>
            </div>
            <div class="form-item item default-3 tablet-16">
              <label>Oracle Order ID: </label>
            </div>
            <div class="form-item item default-5 tablet-16">
              <input type="text" placeholder="Oracle Order ID" />
            </div>
          </div>
          <div class="column-container">
            <div class="form-item item default-3 tablet-16">
              <label>Installer Contacts: </label>
            </div>
            <div class="form-item item default-5 tablet-16">
              <input type="text" placeholder="Address Line 1" />
              <br />
              <input type="text" placeholder="Address Line 2" />
              <br />
              <input type="email" placeholder="Mail Id" />
              <br />
              <div class="form-item item default-4 tablet-16">
                <input type="text" placeholder="(+1)" />
              </div>
              <div class="form-item item default-12 tablet-16">
                <input type="text" placeholder="Mobile No" />
              </div>
            </div>
            <div class="form-item item default-3 tablet-16">
              <label>Salesforce Case ID: </label>
            </div>
            <div class="form-item item default-5 tablet-16">
              <input type="text" placeholder="Salesforce Case ID" />
            </div>
          </div>
          <div class="column-container">
            <div class="form-item item default-3 tablet-16">
              <label>Installation Date: </label>
            </div>
            <div class="form-item item default-5 tablet-16">
              <input type="text" placeholder="Installation Date" />
            </div>
            <div class="form-item item default-3 tablet-16">
              <label>Order Status: </label>
            </div>
            <div class="form-item item default-5 tablet-16">
              <select id="card-year" name="year">
                <option value="" selected="selected">Order Status</option>
                <option value="Order Placed">Order Placed</option>
                <option value="Installer Confirmed">Installer Confirmed</option>
              </select>
            </div>
          </div>
        </div>
        <div class="content-card">
          <h5 class="accent-hedding">Notes</h5>
          <div class="item-container">
            <p> 09:56: Admin 1 has changed the installation date from 07/18/18 to 07/20/18 </p>
            <p> 09:58: Admin 1 has added installer will go to site on 07/20/18 </p>
            <br />
            <input type="text" placeholder="Type notes here" />
          </div>
        </div>
        <div class="column-container collapse submit-container" style="margin-left: 30%">
          <div class="form-item item default-4 tablet-small-16">
            <button class="primary-button --dark" name="submit" type="button">
              Back
            </button>
          </div>
          <div class="form-item item default-4 tablet-small-16">
            <button class="primary-button" name="submit" type="button">
              Update
            </button>
          </div>
        </div>
      </div>
    </section>
    <!-- /end CONTENT block -  order-review intro -->
  </div>
  <!-- /end content-section -->
</div>
<!-- /end MAIN CONTENT AREA -->
